<section class="section-block">
    <h1>
        Projects
    </h1>
    <p>
        Check out the open source projects BC Parks is working on and see how you can contribute.
    </p>
</section>
<section class="section-block">
    <h3>
        BC Parks CMS
    </h3>
    <div class="row">
        <div class="col-md-4 col-sm-12">
            <div class="card text-center">
                <div class="card-header">
                    <b>BC Parks CMS</b>
                </div>
                <div class="card-body">
                    <p class="card-text">A data driven progressive mobile web site that provides potential BC Park
                        visitors with information on provincial parks, conservation areas, and ecological reserves.
                        Content on these pages includes descriptions, activies, amentities, park status, etc.</p>
                </div>
                <div class="card-footer text-muted">
                    <a (click)="goToLink('https://github.com/bcgov/BCP-CMS')"
                        class="btn btn-primary">GitHub</a>
                </div>
            </div>
        </div>
        <div class="col-md-4 col-sm-12"></div>
        <div class="col-md-4 col-sm-12"></div>
    </div>
</section>
<hr>
<section class="section-block">
    <h3>
        Parks Adventure Mobile
    </h3>
    <div class="row">
        <div class="col-md-4 col-sm-12">
            <div class="card text-center">
                <div class="card-header">
                    <b>Parks Adventure Mobile</b>
                </div>
                <div class="card-body">
                    <p class="card-text">Find and explore the wonders of BC Parks.</p>
                </div>
                <div class="card-footer text-muted">
                    <a (click)="goToLink('https://github.com/bcgov/parks-adventure-mobile')"
                        class="btn btn-primary">GitHub</a>
                </div>
            </div>
        </div>
        <div class="col-md-4 col-sm-12"></div>
        <div class="col-md-4 col-sm-12"></div>
    </div>
</section>
<hr>
<section class="section-block">
    <h3>
        BC Parks Day Use Pass
    </h3>
    <div class="row">
        <div class="col-md-4 col-sm-12">
            <div class="card text-center">
                <div class="card-header">
                    <b>Public</b>
                </div>
                <div class="card-body">
                    <p class="card-text">BC Parks Reservation System public facing front end</p>
                </div>
                <div class="card-footer text-muted">
                    <a (click)="goToLink('https://github.com/bcgov/parks_reso-public')"
                        class="btn btn-primary disabled">Website</a>
                    &nbsp;
                    <a (click)="goToLink('https://github.com/bcgov/parks_reso-public')"
                        class="btn btn-primary">GitHub</a>
                </div>
            </div>
        </div>
        <div class="col-md-4 col-sm-12">
            <div class="card text-center">
                <div class="card-header">
                    <b>Admin</b>
                </div>
                <div class="card-body">
                    <p class="card-text">BC Parks Reservation System administration front end</p>
                </div>
                <div class="card-footer text-muted">
                    <a (click)="goToLink('https://github.com/bcgov/parks_reso-admin')"
                        class="btn btn-primary">GitHub</a>
                </div>
            </div>
        </div>
        <div class="col-md-4 col-sm-12">
            <div class="card text-center">
                <div class="card-header">
                    <b>API</b>
                </div>
                <div class="card-body">
                    <p class="card-text">BC Parks Reservation System API</p>
                </div>
                <div class="card-footer text-muted">
                    <a (click)="goToLink('https://github.com/bcgov/parks-reso-api')"
                        class="btn btn-primary">GitHub</a>
                </div>
            </div>
        </div>
    </div>
    <div class="row mt-lg-4">
        <div class="col-md-4 col-sm-12">
            <div class="card text-center">
                <div class="card-header">
                    <b>Public Terraform</b>
                </div>
                <div class="card-body">
                    <p class="card-text">Terraform configuration for BC Parks day use pass public site</p>
                </div>
                <div class="card-footer text-muted">
                    <a (click)="goToLink('https://github.com/bcgov/parks_reso-public-terraform')"
                        class="btn btn-primary">GitHub</a>
                </div>
            </div>
        </div>
        <div class="col-md-4 col-sm-12">
            <div class="card text-center">
                <div class="card-header">
                    <b>Admin Terraform</b>
                </div>
                <div class="card-body">
                    <p class="card-text">Terraform configuration for BC Parks day use pass administration site</p>
                </div>
                <div class="card-footer text-muted">
                    <a (click)="goToLink('https://github.com/bcgov/parks_reso-admin-terraform')"
                        class="btn btn-primary">GitHub</a>
                </div>
            </div>
        </div>
        <div class="col-md-4 col-sm-12"></div>
    </div>
</section>