<section class="section-block">
    <h1>
        Projects
    </h1>
    <p>
        Check out the open source projects BC Parks is working on and see how you can contribute.
    </p>
</section>
<section class="section-block">
    <h3 class="section-header pb-2 mb-5">
        BC Parks CMS
    </h3>
    <div class="row">
        <div (click)="goToLink('https://github.com/bcgov/bcparks.ca')"
            class="col-md-4 col-sm-12">
            <div class="item shadow p-4">
                <h4>
                    bcparks.ca
                </h4>
                <p>A data driven progressive mobile web site that provides potential BC Park
                    visitors with information on provincial parks, conservation areas, and ecological reserves.
                    Content on these pages includes descriptions, activies, amentities, park status, etc.</p>
            </div>
        </div>
        <div class="col-md-4 col-sm-12"></div>
        <div class="col-md-4 col-sm-12"></div>
    </div>
</section>

<section class="section-block">
    <h3 class="section-header pb-2 mb-5">
        Parks Adventure Mobile
    </h3>
    <div class="row">
        <div (click)="goToLink('https://github.com/bcgov/parks-adventure-mobile')"
            class="col-md-4 col-sm-12">
            <div class="item shadow p-4">
                <h4>
                    parks-adventure-mobile
                </h4>
                <p>Find and explore the wonders of BC Parks.</p>
            </div>
        </div>
        <div class="col-md-4 col-sm-12"></div>
        <div class="col-md-4 col-sm-12"></div>
    </div>
</section>

<section class="section-block">
    <h3 class="section-header pb-2 mb-5">
        BC Parks Reservations
    </h3>
    <div class="row">
        <div (click)="goToLink('https://github.com/bcgov/parks_reso-public')"
            class="col-md-4 col-sm-12">
            <div class="item shadow p-4">
                <h4>
                    parks_reso-public
                </h4>
                <p>BC Parks Reservation System public facing front end.</p>
                <div class="icon-section">
                    <img class="icon mr-2"
                        src="../../assets/images/angular_solidBlack.svg">
                    <img class="icon mr-2"
                        src="../../assets/images/bootstrap-logo-black.svg">
                </div>
            </div>
        </div>
        <div (click)="goToLink('https://github.com/bcgov/parks_reso-admin')"
            class="col-md-4 col-sm-12">
            <div class="item shadow p-4">
                <h4>
                    parks_reso-admin
                </h4>
                <p>BC Parks Reservation System administration front end.</p>
                <img class="icon mr-2"
                    src="../../assets/images/angular_solidBlack.svg">
                <img class="icon mr-2"
                    src="../../assets/images/bootstrap-logo-black.svg">
            </div>
        </div>
        <div (click)="goToLink('https://github.com/bcgov/parks-reso-api')"
            class="col-md-4 col-sm-12">
            <div class="item shadow p-4">
                <h4>
                    parks-reso-api
                </h4>
                <p>BC Parks reservation system API.</p>
                <img class="icon mr-2"
                    src="../../assets/images/aws-lambda-1.svg">
            </div>
        </div>
    </div>
    <div class="row mt-lg-4">
        <div (click)="goToLink('https://github.com/bcgov/parks_reso-public-terraform')"
            class="col-md-4 col-sm-12">
            <div class="item shadow p-4">
                <h4>
                    parks_reso-public-terraform
                </h4>
                <p>Terraform configuration for BC Parks day use pass public site.</p>
                <div>
                    <img class="icon mr-2"
                        src="../../assets/images/og-image-8b3e4f7d.png">
                </div>
            </div>
        </div>
        <div (click)="goToLink('https://github.com/bcgov/parks_reso-admin-terraform')"
            class="col-md-4 col-sm-12">
            <div class="item shadow p-4">
                <h4>
                    parks_reso-admin-terraform
                </h4>
                <p>Terraform configuration for BC Parks day use pass administration site.</p>
                <img class="icon mr-2"
                    src="../../assets/images/og-image-8b3e4f7d.png">
            </div>
        </div>
    </div>
</section>