<section class="section-block">
    <h1>
        Projects
    </h1>
    <p>
        Check out the open source projects BC Parks is working on and see how you can contribute.
    </p>
</section>

<section class="section-block">
    <h3 class="section-header pb-2 mb-4">
        BC Parks Services System
    </h3>
    <div class="row row-cols-1 row-cols-md-2 row-cols-lg-3">
        <div class="col mb-4">
            <div class="card h-100 shadow"
                (click)="goToLink('https://github.com/bcgov/parks_reso-public')">
                <div class="card-body">
                    <h4 class="card-title">parks_reso-public</h4>
                    <p class="card-text">Parks Services public facing front end.</p>
                </div>
                <div class="card-footer">
                    <img class="icon mr-2"
                        src="./assets/images/angular_solidBlack.svg">
                    <img class="icon mr-2"
                        src="./assets/images/bootstrap-logo-black.svg">
                </div>
            </div>
        </div>
        <div class="col mb-4">
            <div class="card h-100 shadow"
                (click)="goToLink('https://github.com/bcgov/parks_reso-admin')">
                <div class="card-body">
                    <h4 class="card-title">parks_reso-admin</h4>
                    <p class="card-text">Parks Services administration front end.</p>
                </div>
                <div class="card-footer">
                    <img class="icon mr-2"
                        src="./assets/images/angular_solidBlack.svg">
                    <img class="icon mr-2"
                        src="./assets/images/bootstrap-logo-black.svg">
                </div>
            </div>
        </div>
        <div class="col mb-4">
            <div class="card h-100 shadow"
                (click)="goToLink('https://github.com/bcgov/parks-reso-api')">
                <div class="card-body">
                    <h4 class="card-title">parks-reso-api</h4>
                    <p class="card-text">Parks Services API.</p>
                </div>
                <div class="card-footer">
                    <img class="icon mr-2"
                        src="./assets/images/png-transparent-node-js-javascript-react-logo-express-js-javascript-logo-text-trademark-rectangle-thumbnail.png">
                    <img class="icon mr-2"
                        src="./assets/images/aws-lambda-1.svg">
                    <img class="icon mr-2"
                        src="./assets/images/220px-DynamoDB.png">
                </div>
            </div>
        </div>
        <div class="col mb-4">
            <div class="card h-100 shadow"
                (click)="goToLink('https://github.com/bcgov/parks_reso-public-terraform')">
                <div class="card-body">
                    <h4 class="card-title">parks_reso-public-terraform</h4>
                    <p class="card-text">Terraform configuration for Parks Services public site.</p>
                </div>
                <div class="card-footer">
                    <img class="icon mr-2"
                        src="./assets/images/og-image-8b3e4f7d.png">
                </div>
            </div>
        </div>
        <div class="col mb-4">
            <div class="card h-100 shadow"
                (click)="goToLink('https://github.com/bcgov/parks_reso-admin-terraform')">
                <div class="card-body">
                    <h4 class="card-title">parks_reso-admin-terraform</h4>
                    <p class="card-text">Terraform configuration for Parks Services administration site.</p>
                </div>
                <div class="card-footer">
                    <img class="icon mr-2"
                        src="./assets/images/og-image-8b3e4f7d.png">
                </div>
            </div>
        </div>
    </div>
</section>

<section class="section-block">
    <h3 class="section-header pb-2 mb-4">
        BC Parks CMS
    </h3>
    <div class="row row-cols-1 row-cols-md-2 row-cols-lg-3">
        <div class="col mb-4">
            <div class="card h-100 shadow"
                (click)="goToLink('https://github.com/bcgov/bcparks.ca')">
                <div class="card-body">
                    <h4 class="card-title pb-2">bcparks.ca</h4>
                    <p class="card-text">A data driven progressive mobile web site that provides potential BC Park
                        visitors with information on provincial parks, conservation areas, and ecological reserves.
                        Content on these pages includes descriptions, activies, amentities, park status, etc.</p>
                </div>
                <div class="card-footer">
                    <img class="icon mr-2"
                        src="./assets/images/hp-logo-hero_c94026101f.svg">
                </div>
            </div>
        </div>
    </div>
</section>

<section class="section-block">
    <h3 class="section-header pb-2 mb-4">
        Parks Adventure Mobile
    </h3>
    <div class="row row-cols-1 row-cols-md-2 row-cols-lg-3">
        <div class="col mb-4">
            <div class="card h-100 shadow"
                (click)="goToLink('https://github.com/bcgov/parks-adventure-mobile')">
                <div class="card-body">
                    <h4 class="card-title pb-2">parks-adventure-mobile</h4>
                    <p class="card-text">Find and explore the wonders of BC Parks.</p>
                </div>
                <div class="card-footer">
                    <img class="icon mr-2"
                        src="./assets/images/reactjs-icon.svg">
                </div>
            </div>
        </div>
    </div>
</section>

<section class="section-block">
    <h3 class="section-header pb-2 mb-4">
        BC Parks Bootstrap 5 Theme
    </h3>
    <div class="row row-cols-1 row-cols-md-2 row-cols-lg-3">
        <div class="col mb-4">
            <div class="card h-100 shadow"
                (click)="goToLink('https://github.com/digitalspace/bcparks-bootstrap-theme')">
                <div class="card-body">
                    <h4 class="card-title pb-2">bcparks-bootstrap-theme</h4>
                    <p class="card-text">A custom BC Parks Bootstrap Theme.</p>
                </div>
                <div class="card-footer">
                    <img class="icon mr-2"
                        src="./assets/images/bootstrap-logo-black.svg">
                </div>
            </div>
        </div>
    </div>
</section>