@import "/src/assets/themes/variables";

.navbar {
  background-color: $primary;
  border-top: 2px solid $bcgold;
}

.nav-link {
  color: white !important;
  font-size: small;
  font-weight: bold;
}

.nav-link:hover {
  color: $bcgold !important;
  text-decoration: underline;
  text-decoration-color: $bcgold !important;
}

.navbar-toggler {
  border-color: $bcgold;
}

.app-header {
  background: $primary-nav;
  color: white;
  height: 5.625rem;
  padding-top: 5px;
}

.bc-parks-title {
  height: 60%;
  margin-top: 10px;
}

.active {
  color: $bcgold !important;
}

img:hover {
  cursor: pointer;
}
