@import "../../assets/base/base.scss";

.navbar {
    background-color: $bg-header-secondary;
    border-top: 2px solid $gold;
}

.nav-link {
    color: white !important;
    font-size: small;
    font-weight: bold;
}

.nav-link:hover {
    color: $gold !important;
    text-decoration: underline;
    text-decoration-color: $gold !important;
}

.navbar-toggler {
    border-color: $gold;
}

.app-header {
    background: $header-bg;
    color: $header-font-color;
}

// Navbar Brand
.navbar-brand {
    height: 4rem;
    white-space: normal;
}

.bc-gov-logo {
    height: 60%;
    margin: 10px 13px 0 0;
    padding-right: 10px;
    border-right: 1px solid #ffffff;
}

.bc-parks-title {
    height: 60%;
    margin-top: 10px;
}

.active {
    color: $gold !important;
}

img:hover {
    cursor: pointer;
}
