<section>
    <div class="text-block">
        <h1>Digital Strategy</h1>
        <p>
            BC Parks is setting out to be a model of
            <a href="https://digital.gov.bc.ca/">modernization efforts underway across the BC Government</a>, doing
            so in alignment with both
            <a href="https://digital.gov.bc.ca/resources/digital-principles">local digital principles</a> and
            <a href="https://medium.com/digitalhks">global good practices for digital-era governments</a>.
        </p>
        <p>
            Broadly, we’re undertaking this digital transformation in order to better fulfil our
            mandate for the province’s parks and protected areas. More specifically, in terms of our digital
            products and services, this means we’re committing to providing a simpler, more streamlined, open,
            consistent, data-driven and citizen-centered experience.
        </p>
        <p>
            While these efforts – like the
            <a href="https://public.digital/definition-of-digital">definition of digital</a>
            itself – extend far beyond technology alone, we’re establishing this site to be a hub of
            information and collaboration for technologists wishing to contribute to BC Parks’ change initiatives.
        </p>
        <p>
            As such, please read on and click through to learn what drives these new initiatives and how you can
            contribute.
        </p>
    </div>

    <div class="text-block">
        <h3>
            Our Vision
        </h3>
        <p>
            * Vision statement goes here *
        </p>
    </div>

    <div class="text-block">
        <h3>
            Our Priorities
        </h3>
        <ul>
            <li>
                Citizen-Centered Services
            </li>
            <li>
                Service Design and Delivery
            </li>
            <li>
                Transparency and Open Source
            </li>
            <li>
                Data Driven Solutions
            </li>
        </ul>
    </div>

    <div class="text-block">
        <h3>
            Digital Government
        </h3>
        <p>
            BC Parks will follow the BC Government Digital Framework and Principles to ensure we are part of the
            coordinated
            shift towards digital government.
        </p>
        <a href="https://digital.gov.bc.ca/digital-framework">
            BC Government Digital Framework
        </a>
        <br>
        <a href="https://digital.gov.bc.ca/resources/digital-principles">
            BC Government Digital Principles
        </a>
    </div>
</section>