<section>
  <h1>BC Parks Trip Planner&nbsp;&nbsp;<span class="badge rounded-pill bg-danger">ALPHA</span></h1>
  <p>
    Please note, this map is a proof-of-concept and only shows a subset of information. If you have feedback contact
    <a href="mailto:BCParksUserResearch@gov.bc.ca">BCParksUserResearch@gov.bc.ca</a> or file a github issue on
    <a href="https://github.com/digitalspace/bcparks-hackathon-2023">the open source project</a>.
  </p>
  <p>Get directions and live road conditions for your trip to a BC park.</p>
</section>

<lib-ds-bcgov-map></lib-ds-bcgov-map>
