<section class="section-block">
  <h1>Engage with Us</h1>
  <p>
    Your feedback is incredibly valuable and plays a part in how we shape our online information, we would love to hear
    your feedback.
  </p>
</section>
<section class="section-block">
  <div class="row row-cols-1 row-cols-md-2 row-cols-lg-3">
    <div class="col mb-4">
      <div class="card h-100 shadow" (click)="goToLink('https://helpshapebc.gov.bc.ca/hub-page/let-s-talk-bc-parks')">
        <div class="card-body">
          <h4 class="card-title">Let's Talk BC Parks</h4>
          <p class="card-text">Help shape BC Parks by participating in an engagement project.</p>
        </div>
        <div class="card-footer">
          <img class="icon me-2" src="./assets/images/bcparks_primary_reversed_bw.svg" />
        </div>
      </div>
    </div>
    <div class="col mb-4">
      <div class="card h-100 shadow" (click)="goToLink('https://engage.gov.bc.ca/bcparksblog/')">
        <div class="card-body">
          <h4 class="card-title">BC Parks Blog</h4>
          <p class="card-text">Check out our blog for more information.</p>
        </div>
        <div class="card-footer">
          <img class="icon me-2" src="./assets/images/bcparks_primary_reversed_bw.svg" />
        </div>
      </div>
    </div>
  </div>
</section>
<p class="mt-5">Please contact us with any questions or concerns.</p>
<section>
  <p>
    <a href="mailto:BCParksUserResearch@gov.bc.ca"> BCParksUserResearch@gov.bc.ca </a>
  </p>
</section>
