<section class="jumbotron-section">
  <div class="jumbotron bg-cover text-white jumbo-image">
    <div class="container">
      <h1 class="display-4 mb-4">BC Parks Digital Services</h1>
      <p class="lead mb-4">Our parks and protected areas are a public trust.</p>
      <p class="lead mb-4">
        BC Parks Digital Service is an open team-of-teams on a mission to honour
        and express that trust by sparking and sharing innovations that improve
        park operations, enjoyment, and stewardship.
      </p>
    </div>
  </div>
</section>
