<section class="section-block">
    <h1>
        Design Guides
    </h1>
    <p>
        BC Parks has created design guides using BC government styling to ensure a consistent and streamlined look
        and
        feel in all applications.
    </p>
</section>

<section class="section-block card-section">
    <div class="card-deck">
        <div class="card shadow border-0">
            <div class="d-flex justify-content-center">
                <span class="material-icons">dashboard</span>
            </div>
            <div class="card-body text-center">
                <h3 class="card-title">BC Parks Design and Layout Guide</h3>
            </div>
        </div>
        <div class="card shadow border-0">
            <div class="d-flex justify-content-center">
                <span class="material-icons">nature_people</span>
            </div>
            <div class="card-body text-center">
                <h3 class="card-title">BC Parks Style guide</h3>
            </div>
        </div>
    </div>
</section>