<app-header></app-header>
<div class="main-wrapper">
  <section class="jumbotron-section">
    <div class="jumbotron bg-cover text-white jumbo-image">
      <div class="container">
        <h1 class="display-4 mb-4">BC Parks Digital Services</h1>
        <p class="lead mb-4">
          BC Parks is responsible for the designation, management and conservation of a system of ecological
          reserves,
          provincial parks, conservancies, protected areas and recreation areas located throughout the
          province.
          British Columbia's parks and protected area system contains nationally and internationally
          significant
          natural and cultural features and outdoor experiences.</p>
        <p class="lead mb-4">
          The pronvincial system of parks is dedicated to the protection of natural environments for the
          inspiration,
          use and enjoyment of the public.
        </p>
      </div>
    </div>
  </section>
  <router-outlet>
  </router-outlet>
</div>
<app-footer></app-footer>