/* You can add global styles to this file, and also import other style files */
/* You can add global styles to this file, and also import other style files */

/* Importing Bootstrap SCSS file. */
@import "~bootstrap/scss/bootstrap";

// Base
@import "./assets/base/base.scss";

// Material Icons
@import "~material-icons/iconfont/material-icons.css";

html {
  height: 100%;
}

body {
  height: 100%;
  font-family: "BCSans", "Noto Sans", sans-serif !important;
}
