<section class="section-block">
  <h1>What We're Working On, and How</h1>
  <p>
    Over a decade ago, Tim O’Reilly, a well-known futurist, advisor to
    governments and founder of the terms open-source and Web 2.0, shared the
    idea of “Government as a Platform.” O’Reilly observed that, even then,
    people are “connected like never before, and have the skill sets and passion
    to solve problems affecting them.” Since then, much has been written about
    “GaaP” and the opportunities it provides to empower people to spark the
    innovations necessary to meet the challenges of the increasingly complex
    days we exist &mdash; and design and delivery public services &mdash;
    within.
  </p>
  <p>
    British Columbia, long recognized as a leader in the application of new
    tools and methods to meeting public challenges, continues that trend today
    with its
    <a href="https://digital.gov.bc.ca/"
      >framework for being a digital-era government.</a
    >
    Our intention at BC Parks is to be humble leaders in putting this framework
    into action, and through our work and this site convene a community across
    and beyond government to collaborate on fulfilling our shared mission for
    our parks and protected areas.
  </p>
  <p>
    We hope you’ll join us, and have a look around here for your opportunities
    to do so.
  </p>
</section>

<section class="section-block">
  <div class="row">
    <div class="col-md-6 item" (click)="navigate('digital-strategy')">
      <div class="d-flex align-items-center">
        <div class="flex-shrink-0">
          <div class="p-4">
            <span class="material-icons">devices</span>
          </div>
        </div>
        <div class="flex-grow-1 ms-3">
          <h4>Strategy</h4>
          <p>Find out more about our in-development theory of change.</p>
        </div>
      </div>
    </div>
    <div class="col-md-6 item" (click)="navigate('projects')">
      <div class="d-flex align-items-center">
        <div class="flex-shrink-0">
          <div class="p-4">
            <span class="material-icons">apps</span>
          </div>
        </div>
        <div class="flex-grow-1 ms-3">
          <h4>Projects</h4>
          <p>See what we’re working on.</p>
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-md-6 item" (click)="navigate('design-guides')">
      <div class="d-flex align-items-center">
        <div class="flex-shrink-0">
          <div class="p-4">
            <span class="material-icons">brush</span>
          </div>
        </div>
        <div class="flex-grow-1 ms-3">
          <h4>Design System</h4>
          <p>
            We’re developing guidelines, patterns and components to help anyone
            contribute to BC Parks’ digital products, and our collective
            stories.
          </p>
        </div>
      </div>
    </div>
    <div class="col-md-6 item">
      <div class="d-flex align-items-center" (click)="navigate('collaborate')">
        <div class="flex-shrink-0">
          <div class="p-4">
            <span class="material-icons">group_work</span>
          </div>
        </div>
        <div class="flex-grow-1 ms-3">
          <h4>Collaborate on Our Code</h4>
          <p>Our code is in the open. Interested in contributing? Here's how.</p>
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-md-6 item">
      <div class="d-flex align-items-center" (click)="navigate('engage')">
        <div class="flex-shrink-0">
          <div class="p-4">
            <span class="material-icons">feedback</span>
          </div>
        </div>
        <div class="flex-grow-1 ms-3">
          <h4>Engage with Us</h4>
          <p>
            Your feedback is incredibly valuable and plays a part in how we
            shape our digital services &mdash; we'd love to hear from you.
          </p>
        </div>
      </div>
    </div>
  </div>
</section>
