<div class="container mb-4">
    <section>
        <div class="mt-lg-4">
            <h3>
                Mission
            </h3>
            <p>
                Our parks and protected areas are a public trust. As such, our mission is to protect representative and
                special natural places within the Province's protected areas system for world class conservation,
                outdoor
                recreation, education adn scientific study.
            </p>
        </div>
        <div class="mt-4">
            <h3>
                Working in the open
            </h3>
            <p>
                BC Parks aims to deliver digital products that meet people's needs, we work openly to share our work,
                engage
                with
                citizens and collaborate with others.
            </p>
            <p>
                Why we work this way... by demonstrating openness and transparency it helps to engage with citizens and
                the
                sectors
                we work with, and connects with others working in related fields across the world. As such it is vital
                for
                netowrk
                and alliance building. For the organisations we work within it provides a greater sense of authenticity.
            </p>
        </div>
    </section>

    <section class="mt-5">
        <div class="row">
            <div class="col-md-6">
                <div class="d-flex align-items-center">
                    <div class="flex-shrink-0">
                        <div class="p-4">
                            <span class="material-icons">devices</span>
                        </div>
                    </div>
                    <div class="flex-grow-1 ms-3">
                        <h4>
                            Digital Strategy
                        </h4>
                        <p>
                            We are undertaking this digital transformation in order to better fulfil our mandate for the
                            province's parks and protected areas.
                        </p>
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <div class="d-flex align-items-center">
                    <div class="flex-shrink-0">
                        <div class="p-4">
                            <span class="material-icons">apps</span>
                        </div>
                    </div>
                    <div class="flex-grow-1 ms-3">
                        <h4>
                            Projects
                        </h4>
                        <p>
                            This repo contains...
                        </p>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-6">
                <div class="d-flex align-items-center">
                    <div class="flex-shrink-0">
                        <div class="p-4">
                            <span class="material-icons">brush</span>
                        </div>
                    </div>
                    <div class="flex-grow-1 ms-3">
                        <h4>
                            Design Guides
                        </h4>
                        <p>
                            Design guides using BC Government styling
                        </p>
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <div class="d-flex align-items-center">
                    <div class="flex-shrink-0">
                        <div class="p-4">
                            <span class="material-icons">group_work</span>
                        </div>
                    </div>
                    <div class="flex-grow-1 ms-3">
                        <h4>
                            Collaborate with us
                        </h4>
                        <p>
                            Not sure how to contribute? Let us help...
                        </p>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-6">
                <div class="d-flex align-items-center">
                    <div class="flex-shrink-0">
                        <div class="p-4">
                            <span class="material-icons">feedback</span>
                        </div>
                    </div>
                    <div class="flex-grow-1 ms-3">
                        <h4>
                            Engage with us
                        </h4>
                        <p>
                            Your feedback is incredibly valuable and plays a part in how we shape our online
                            information, we
                            would love to hear our feedback.
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </section>

</div>