@import "/src/assets/themes/variables";

.material-icons {
  font-size: 60px;
}

.item {
  opacity: 100%;
  transition: 0.3s;
}

.material-icons {
  color: $primary;
}

.item:hover {
  opacity: 60%;
  transition: 0.3s;
  cursor: pointer;
}
